body {
    font-size: 13px;
}
.parallax-bg {
    background-position: center;
}
.content-box-image {
    background-color: #FFF;
}
.bg-dark-50:before {
    background: rgba(10, 10, 10, 0.65);
}
.float-left {
    float: left;
}
.no-float {
    float: none;
}
.box-size-border {
    box-sizing: border-box;
}
hr.clear {
    border: 0;
}
.clear {
    clear: both;
}
.inline-block {
    display: inline-block;
}
.vertical-middle {
    vertical-align: middle;
}
.navbar-custom {
    background-color: rgba(17, 20, 58, 0.9);
}
.bg-dark{
    background-color: rgb(34, 43, 61);
}
.bg-light {
    background-color: #FFE;
}

@supports (-webkit-overflow-scrolling: touch) {
    .parallax-bg {
        background-attachment: scroll;
    }
}

.top-bg {
    background-position: top center;
}
.container-front {
    position: relative;
    z-index: 1;
}
.no-text {
    font-size:0;
}
.em-pad {
    padding: 1em;
}
.em-pad-lr {
    padding: 0 1em;
}